html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Neucha';
    background: url("../img/bg.jpg");
}

.navbar{
    margin-bottom: 0;
}

.navbar-default{
    background-color: transparent!important;
}

.navbar-nav li a{
    font-size: 24px;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;
    color: #000;
}

a:hover {

    text-decoration: none!important;
}

.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

.footer{
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: white;
}

.section-top{
    margin-bottom: 20px
}

.product-description-tabs{
    padding: 10px;
}

.section{
    padding: 50px 0;
}

.section h1{
    margin-bottom: 40px;
}

.product-item{
    height: 360px;

    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.add-to-card-btn{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.discount-container{
    position: absolute;
    top: 30%;
    background: #3399cc;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.section-delivery{
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}

.product-image-item{
    padding: 5px;
    margin-bottom: 5px;
}

.navbar-top{
    min-height: 10px;
    height: 20px;
    /*background-color: green;*/
    border: none;
    border-radius: 0;
}

.navbar-main{
    /*background-color: #55e073;*/
    /*opacity: 0.5;*/
    border: none;
    border-radius: 0;
}

.basket-container{
    position: absolute;
    width: 300px;
    padding: 10px 10px;
}

/*.basket-container:before{*/
/*content: '';*/
/*background: url("../img/cart-empty.png") no-repeat;*/
/*height: 30px;*/
/*width: 31px;*/
/*}*/

.basket-items{
    position: absolute;
    top: 50px;
    width: 100%;
    /*background-color: #55e093;*/
    z-index: 10;
    padding: 10px;
}

.form-error{
    color: red;
}

h1 {
    font-weight: bold;
    color: #000000;
}

.block-present{
    text-align: center;
    font-size: 25px;
    /*font-weight: bold;*/
    padding-top: 150px;

}

.present {
    background: url("../img/bg-txt-1.png") no-repeat;
    background-position-x: 16%;
    background-position-y: center;
    width: 100%;
    padding-top: 150px;
    color: #000000;
}

.present:hover{
    background: url("../img/bg-txt-1-h.png") no-repeat;
    background-position-x: 16%;
    background-position-y: center;
    color: #000000!important;
}

.symbol {
    background: url("../img/bg-txt-2.png") no-repeat;
    background-position-x: 23%;
    background-position-y: center;
    width: 100%;
    padding-top: 150px;
    color: #000000;
}

.symbol:hover{
    background: url("../img/bg-txt-2-h.png") no-repeat;
    background-position-x: 23%;
    background-position-y: center;
    color: #000000!important;
}

.friend {
    background: url("../img/bg-txt-3.png") no-repeat;
    background-position-x: 25%;
    background-position-y: center;
    width: 100%;
    padding-top: 150px;
    color: #000000;
}

.friend:hover{
    background: url("../img/bg-txt-3-h.png") no-repeat;
    background-position-x: 25%;
    background-position-y: center;
    color: #000000!important;
}
p {
    font-size: 18px;
}

.text-about-shop{
    background: url("../img/bear-text.png") no-repeat right;
    /*background-position: right;*/
}

.block-nav{
    /*    background: url("../img/bear-top.png") no-repeat right bottom;*/
    background-position-y: 0px;
    height: 120px;
}
.numbers{
    padding-right: 0px;
    padding-left: 30px;
}
.numbers p{
    font-size: 24px;
    font-weight: bold;
    color: #3399cc;
}

.numbers p img{
    margin-right: 25px;
}

.footer{
    padding-top: 25px;
    background: url("../img/bg.jpg");
}

.footer_nav li a:hover{
    background: url("../img/bg.jpg");
}

.girl{
    background: url("../img/bg-bl1.png") no-repeat;
    height: 150px;
    width: 150px;
    display: block;
    margin: 0 auto;
    /*margin-bottom: 25px;*/
    /*margin-top: 25px;*/
}

.child{
    background: url("../img/bg-bl2.png") no-repeat;
}
.propose{
    background: url("../img/bg-bl3.png") no-repeat;
}

.girl:hover{
    background: url("../img/bg-bl1-h.png") no-repeat;
}

.child:hover{
    background: url("../img/bg-bl2-h.png") no-repeat;
}
.propose:hover{
    background: url("../img/bg-bl3-h.png") no-repeat;
}

.number{
    font-size: 80px;
    font-weight: bold;
    text-align: right;
}

.adjective{
    font-size: 25px;
    font-weight: bold;
}

.noun{
    font-size: 45px;
    font-weight: bold;
}

.my-btn{
    background-color: #3399cc;
    border-color: #3399cc;
}

.my-btn:hover{
    transition: 0.5s;
    background-color: #268bbd;
    border-color: #3399cc;
}
.my-btn:active{
    transition: 0.5s;
    background-color: #268bbd;
    border-color: #3399cc;
}

.my-btn:focus{
    transition: 0.5s;
    background-color: #268bbd;
    border-color: #3399cc;
}

.my-btn:visited{
    transition: 0.5s;
    background-color: #268bbd;
    border-color: #3399cc;
}

/*Мои стили для меню*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin-left: 90px;
    margin-top: 35px;
}

@media (max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-left: 0px;
        margin-top: 0px;
    }
    .navbar-nav {
        /* margin: 7.5px -15px; */
        margin: 0px;
    }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        color: #555;
        background-color: transparent;
    }

    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: transparent;
        border-color: #337ab7;
    }

    .present {
        background: none;
        background-position-x: 28%;
        background-position-y: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-top: 150px;
        color: #000000;
    }

    .present:hover{
        background:none;
        background-position-x: 16%;
        background-position-y: center;
        color: #000000!important;
    }

    .present:hover{
        color: #337ab7!important;
    }

    .symbol {
        background: none;
        width: 100%;
        padding-top: 150px;
        color: #000000;
    }

    .symbol:hover{
        background: none;
        color: #337ab7!important;
    }

    .friend {
        background: none;

        width: 100%;
        padding-top: 150px;
        color: #000000;
    }

    .friend:hover{
        background: none;
        color: #337ab7!important;
    }

    .block-present{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .girl{
        background: url("../img/bg-bl1.png") no-repeat;
        height: 90px;
        width: 110px;
        display: block;
        margin: 0 auto;
    }
    .child{
        background: url("../img/bg-bl2.png") no-repeat;
        height: 115px;
        width: 110px;
    }
    .propose{
        background: url("../img/bg-bl3.png") no-repeat;
        height: 100px;
        width: 150px;
    }
    .happy_div{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .numbers_footer{
        padding-right: 0px;
        padding-left: 0px;
    }
    .btn-menu-mobile{
        margin-top: 40px;
    }
}